.example-card {
  max-width: 200px;
  margin-top: 20px;
}

.shields {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px;
}